.simple-slider .swiper-slide {
    height: 256px;
    width: 256px;

}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}



